[user]
	name = SNTag
    email = SNTagore@protonmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[color "status"]
    added = green
    changed = blue
    untracked = red
[color "diff"]
    meta = yellow
    old = red
    new = green
#[core]
#    editor = vim
[push]
    followTags = true
    default = current
[alias]
    plog = log --graph --pretty=format:'%C(bold blue)%h%Creset - %C(yellow)%d%Creset %s %C(cyan dim)(%cr)%Creset %n' --abbrev-commit --branches
    st = status
    ci = commit
    co = checkout
    tm = merge --no-ff --no-commit
    pp = !git pull && git push
    rm-untracked = !rm $(git ls-files --other --exclude-standard)
    lsblame = !cd "./$GIT_PREFIX" && ls -A | xargs -n1 -I'{}' git log --no-merges --format='%h (%an%x09%ai) {}' -1 '{}' | column -ts $'\t'
